body {
    line-height: 1.7;
}
#home {
    position: relative;
    margin-top: 80px;
    background: url(../images/menu-header.png) no-repeat center center / cover;
    height: 500px;
    color: #fff;
    font-weight: bold;
}
#home > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
}
header {
    background-color: #fff;
}
.nav-contents li a {
    color: #000000;
}
#oryori-information {
    padding: 36px 0 288px;
    font-size: 16px;
}
.guid {
    margin-bottom: 98px;
}
.guid a {
    display: inline-block;
    color: #000000;
}
.guid span {
    border-bottom: 1px solid #000000;
}
.explanation {
    text-align: center;
    margin-bottom: 98px;
}
.oryori-content {
    position: relative;
}
.oryori-content:not(:last-child){
    margin-bottom: 222px;
}
.oryori-img-wrapper {
    width: 44.4915%;
}
.oryori-img {
    position: relative;
    width: 100%;
    padding-top: 57.1429%;
}
.oryori-img-wrapper:nth-child(even) {
    margin: 0 0 0 auto;
}
.oryori-img img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.oryori-detail {
    z-index: -1;
    box-sizing: border-box;
    position: absolute;
    height: 381px;
    width: 68.8998%;
    top: 57px;
    background: url(../images/bg.png) no-repeat center center / cover;
    padding: 60px 0 0 20.1694%;
}
.oryori-content:nth-child(odd) .oryori-detail {
    right: 0;
}
.oryori-content:nth-child(even) .oryori-detail {
    padding-left: 60px;
}
.oryori-detail h3 {
    margin-bottom: 52px;
    font-size: 24px;
}
.oryori-detail p:nth-of-type(1) {
    margin-bottom: 52px;
    line-height: 1.5;
}
.oryori-detail p:nth-of-type(2) {
    line-height: 1.1;
}



@media (max-width: 960px) {
    .nav-toggle span {
        background-color: #000000;
    }
    .nav-toggle.open span:nth-of-type(1),  .nav-toggle.open span:nth-of-type(3) {
        background-color: #000000;
    }

    .guid {
        margin: 0 0 70px 15px;
    }
    #oryori-information {
        padding: 30px 0 10px;
    }
    .explanation {
        margin: 0 0 60px 15px;
    }
    .oryori-content:not(:last-child) {
        margin-bottom: 10px;
    }
    .oryori-img-wrapper {
        width: 100%;
    }
    .oryori-img:nth-child(even) {
        margin: 0;
    }
    .oryori-img img {
        filter:brightness(50%);
    }
    .oryori-detail {
        z-index: 0;
        padding: 0 20px;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translate3d(0, -50%, 0)!important;
        background: none;
        color: #fff;
        text-shadow: 0 0 10px #fff;
    }
    .oryori-content:nth-child(even) .oryori-detail {
        padding-left: 20px;
        z-index: 50;
    }
}

    @media (max-width: 960px) and (min-width: 521px) {

        .oryori-detail {
            padding: 0px 60px;
        }
        .oryori-content:nth-child(even) .oryori-detail {
            padding-left: 60px;
        }
        .oryori-detail h3 {
            margin-bottom: 60px;
        }
        .oryori-img {
            padding-top: 70%;
        }
    }

    @media (max-width: 520px) {
        #home {
            margin-top: 60px;
        }

        .explanation {
            text-align: left;
        }
        .oryori-img {
            padding-top: 120%;
        }
    }
